
<div class="setUp_warp">
    <div class="setUp_top">
        <div class="end" onclick="backPage()"></div>新增收货地址
    </div>
    <div class="setAside grayMt bT bB">
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">收货人</span>
            <input type="text" placeholder="请输入收货人姓名" id="shr" class="entry warp_Rg"/>
        </div>
        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">手机号码</span>
            <input type="number" placeholder="请输入手机号码" id="mobile" class="entry warp_Rg"/>
        </div>
        <div class="displayBox addedAddress_breadth content-block" >
            <span class="added_txt">所在地区</span>
            <input readonly="readonly" placeholder="请选择省市区"  id="demo2" type="text" style="font-size: .875rem;width: 100%;height: 100%;display: inline-block; margin-top: -4px; " class="quite"/>
        </div>


        <div class="displayBox addedAddress_breadth">
            <span class="added_txt">详细地址</span>
            <input type="text" placeholder="请输入详细地址" id="address" class="entry warp_Rg"/>
        </div>
        <div class="displayBox addedAddress_breadth" style="border-bottom: 0">
            <span class="added_txt">邮政编码</span>
            <input type="number" placeholder="请输入邮政编码" id="email" class="entry warp_Rg"/>
        </div>
    </div>
    <div class="cancel ui_btn" data-action="cancels">保存</div>
</div>

<!--//是否设为默认地址-->
<div id="fixeds" style="position: fixed;width:100%;height:100%;top:0;left:0;background: rgba(0,0,0,.5);display: none;">
    <div id="fixedsDiv" style="width:300px;background: #fff;border-radius: 8px;top:50%;transform: translateY(-50%);position: relative;margin: auto;text-align: center;">
        <p style="padding: 20px 0;font-size: 18px;">是否设为默认收货地址</p>
        <span style="display: inline-block;width:50px;height:30px;background:#007cc3;color: #fff;line-height: 30px;border-radius: 8px;margin: 15px 10px; " data-type="1">是</span>
        <span style="display: inline-block;width:50px;height:30px;background:#007cc3;color: #fff;line-height: 30px;border-radius: 8px;margin: 15px 10px; " data-type="2">取消</span>
    </div>
</div>