
	<div class="position" style=" height: 44px;"></div>
	
	<div class="cTop">
		<div class="return" onclick="backPage()"></div>
		我的朋友圈		
	</div>

	<div class="cHead">
		<div class="pic">
			<img src="">
		</div>
		<div class="name"></div>

		<div class="smData">
			<div class="cTitle fL">
					平台身份:创客
			</div>
			<div class="cTitle fR">
					获得的佣金:	1212	
			</div>
		</div>
	</div>

	<div class="cType">
		<div class="cTitle sc">创客</div>
		<div class="cTitle right">创客商</div>
	</div>
	<!-- 创客 -->
	<div class="numberList" style="display: block;" id="type0">
		<div class="cGrade">
			<div class="gradeType sc" data-side="1">一级(人数)</div>
			<div class="gradeType center" data-side="2"> 二级(人数)</div>
			<div class="gradeType" data-side="3"> 三级(人数)</div>
		</div>
		<div class="list_sort" style="display: block;" id="side1">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">1昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
		<div class="list_sort" id="side2">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">12昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
		<div class="list_sort" id="side3">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">13昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="cfTime fR">2017.03.04</div>
			</div>
		</div>
	</div> 
	<!-- 创客 -->


	<!-- 创客商 -->
	<div class="numberList" id="type1">
		<div class="cGrade">
			<div class="gradeType sc" data-sides="1">1一级(人数)</div>
			<div class="gradeType center" data-sides="2"> 二级(人数)</div>
			<div class="gradeType" data-sides="3"> 三级(人数)</div>
		</div>
		<div class="list_sort" style="display: block;" id="sides1">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">21昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee no fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee no fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>
		</div>
		<div class="list_sort" id="sides2">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">22昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>
		</div>
		<div class="list_sort" id="sides3">
			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">23昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>

			<div class="cList">
				<div class="cfHead fL">
					<img src="images/storeDetails/head.png">
				</div>
				<div class="cfData fL">
					<div class="name">昵称</div>
					<div class="howManyPeople">共邀请*人</div>
				</div>
				<div class="coSee fR">查看店铺</div>
			</div>
		</div>
	</div>
	<!-- 创客商 -->

