	<div class="top">
		<div class="return" onclick="backPage()"></div>
		兑换记录
	</div>

	<div class="chooseBox">
		<div class="not selection" data-side="1">未兑换</div>
		<div class="already" data-side="2">已兑换</div>
	</div>

	<!-- 未兑换 -->
	<div id="side1" class="chooseList">
		<div class="list">
			<span class="fL">兑换码</span>
			<div class=" rightB fR selection ui_btn" data-action="zhuanzheng">转增</div>
			<div class=" rightB fR selection ui_btn" data-action="goInExchange">兑换</div>
		</div>

		<div class="list">
			<span class="fL">兑换码</span>
			<div class=" rightB fR selection">转增</div>
			<div class=" rightB fR selection">兑换</div>
		</div>

		<div class="list">
			<span class="fL">兑换码</span>
			<div class=" rightB fR selection">转增</div>
			<div class=" rightB fR selection">兑换</div>
		</div>

		<div class="list">
			<span class="fL">兑换码</span>
			<div class=" rightB fR selection">转增</div>
			<div class=" rightB fR selection">兑换</div>
		</div>
		
	</div>

	<!-- 已兑换 -->
	<div id="side2" class="chooseList" style=" display: none;">
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		<div class="list">
			<span class="fL">兑换码</span>
			<span class="fR">已兑换</span>
		</div>
		
	</div>

	<!-- 转赠 -->
	<div class="donation">
		<div class="donationIn">
			<input type="text" name="" placeholder="赠送人账号">
		</div>

		<div class="donationIn">
			<input  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" type="text" name="" placeholder="赠送数量">
		</div>

		<div class="miCancel ui_btn" data-action="cancel" >取消</div>
		<div class="confirm">赠送</div>
	</div>


	<!-- 遮罩 -->
	<div class="miMask ui_btn" data-action="cancel_no"></div>
